.ftr-main-part {
    padding: 70px 0;
    background: #fff;
}

.ftr-main-part {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #605b6a;
}

.ftr-main-part p {
    color: #605b6a;
    font-size: 16px;
    font-weight: 500;
}

.ftr-btm-menu span {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #1c1c1c;
    padding-bottom: 15px;
    text-transform: capitalize;
}

.ftr-btm-menu p {
    transition: all 0.3s;
    display: inline-block;
    font-size: 15px;
    color: #1c1c1c;
    margin: 0 0 10px 0;
    font-weight: 500;
}

.ftr-btm-menu ul li a {
    transition: all 0.3s;
    display: inline-block;
    font-size: 15px;
    text-transform: capitalize;
    color: #605b6a;
    margin: 0 0 10px 0;
}

.ftr-btm-menu a {
    color: #1081e8;
}

.ftr-sub-part {
    background-color: white;
    padding: 15px 0;
}

.ftr-igf-part a {
    margin: 0 5px;
}

.ftr-sub-part p {
    font-size: 16px;
    color: #605b6a;
    margin: 0;
    opacity: 0.5;
}

.ftr-logo-part img {
    max-width: 130px;
}

.pages-link {
    font-size: .875em;
    color: #d63384;
    word-wrap: break-word
}